/*  */
.login{
  display: flex;
  align-item: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid gold;
  border-radius: 20px;
  width: 50%;
  height: 70%;
  margin: 5rem auto;
  padding: 40px 50px;
}
.login-data {
  margin:auto;
}
.login label {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;

}
.login input {
  border: 1px solid gold;
  border-radius: 10px;
  outline: none;
  padding: 10px 150px;
  text-align: right; 
}