
.hero-section{
  overflow: hidden;
  margin: auto;
}
.hero-text{
  display: flex;
  flex-direction: column;
  align-item: center;
  justify-content: space-between;
  padding-top: 40px;
  text-align:center;
}

.hero-text span {
  font-size: 6.5rem
}
.hero-text p {
  font-size: 25px;
  margin-top:15px;
}

.hero-btns{
  display: flex;
  flex-direction: row;
  align-item:center;
  justify-content: space-between;
  gap:10px;
}

.hero-btn{
  background-color: 'red'
}