.header{
  /* position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1; */
  display: flex;
  align-item: center;
  justify-content: space-between;
  background-color: crimson;
  width:100vw;
  padding: 20px;
  /* margin: 10px */
}
.header-text {
  text-align: center;
  font-size: 35px;
  margin-left: 5rem;
}